@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Dog registration</h1>
                <h2>to show system.</h2>
            </hgroup>
        </div>
    </section>
}
Welcome in our system :) 