@{
    ViewBag.Title = "AddDone";
}

<h2>Zdjęcie zostało dodane</h2>

<h3>@Html.ActionLink("Dodaj następne zdjęcie", "Upload", "Image", new { showID = ViewBag.showID }, null)</h3>

<h4>@Html.ActionLink("Powrót do galerii", "ImageList", "Image", new { showID = ViewBag.showID}, null)</h4>
