@model IEnumerable<ShowRegSys.Models.Image>

@{
    ViewBag.Title = "Galeria z wystawy";
}

<h2>Galeria z @ViewBag.ShowName</h2>
<p>
    <a href="@Url.Action("Upload", new { showId = ViewBag.ShowId })">Dodaj zdjęcie</a>
</p>
<br />
<table>
@foreach (var item in Model)
{

    <tr>
        <a href="@Url.Action("SingleImage", new { imageId = item.ImageId, showId = item.ShowId })"><img src="@(item.Path)" width="200" /></a>
 
    </tr>

}
</table>